@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);


/** {
  outline: 1px solid red;
}*/

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


html {
  font-size: 100%;
}

body, html {
  margin:0;
  padding:0;
}

header {
  float:none;
  z-index:auto;
  position: relative;
}

img {
  width: 40%;
  max-width: 100px;
}

@media(min-width: 500px) {
  img {
    float:right;
    margin-top: 0.25rem;
  }
}

h1, h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
  /*font-size: 200%*/
}

h1 {
  font-size: 2.121em;
  line-height: 1.2em;
  margin-left: -0.065em;
  margin-top: 0.15em;
}

h2 {
  font-size: 1.414rem;
  margin-bottom: 0;
  margin-top: 1em;
}
h3 {
  margin-bottom: 0.15em;
  font-size: 1.202rem;
  text-transform: none;
}


address {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: inherit;
  text-transform: uppercase;
}

a {
  color:inherit;
  text-decoration: none;
  text-transform: none;
}

section {
  margin-top: 1em;
}

p {
  margin-top:0;
  margin-bottom: 1em;
  max-width: 46em;
}
ul {
  margin-top:0.125em;
  margin-bottom: 0;
  padding-left: 24px;
}
.hobbies ul,
.technical-skills ul {
  float: left;
  position: relative;
  display: block;
  margin-top: 0.25em;
  margin-right: 2.5em;
}

.technical-skills,
.hobbies {
  display: inline-block;
}

.address-container h1,
.address-container h2,
.address-container address {
  float: none;
  clear: left;
}


.address-container h2 {
  margin-top: 0;
  line-height: 1.1em;
}

address span {
  display: inline-block;
}

.resume-container {
  max-width: 8.5in;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1.5em;
}

article {
  padding: 0.5em;
  margin-bottom: 2em;
  margin-top:1em;
}

.education ul:first-of-type {
  margin-bottom: 0.25em;
}

.education {
  margin-bottom: 1em;
}

.technical-skills,
.hobbies {
  margin-top: 0;
}

.technical-skills h2,
.hobbies h2 {
  margin-top: 1rem;
}


@media print {
  html {
    font-size: 90%;
  }
}