/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

/* ================================= 
  BASE CSS
==================================== */

/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}


/* ================================= 
  DEVICE CONTAINERS
==================================== */
 /* GENERAL STYLE */

.device-mockup {
  position: relative;
  width: 100%;
  padding-bottom: 61.775701%;
}

  .device-mockup > .device {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%; height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/src/img/devices/macbook/macbook.png");
  }

    .device-mockup > .device > .screen {
      position: absolute;
      top:    11.0438729%;
      bottom: 14.6747352%;
      left:   13.364486%;
      right:  13.364486%;
      overflow: hidden;
    }

    .device-mockup > .device > .button {
      position: absolute;
      top: 0; left: 0;
      display: none;
      overflow: hidden;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      cursor: pointer;
    }

/* MacBook Pro */
.device-mockup[data-device="macbook"] {
  padding-bottom: 61.775701%;
}

.device-mockup[data-device="macbook"] > .device {
  background-image: url("/src/img/devices/macbook/macbook.png");
}

.device-mockup[data-device="macbook"] > .device > .screen {
  top: 11.0438729%; bottom: 14.6747352%; left: 13.364486%; right: 13.364486%;
}


/* iPhone 6 */
.device-mockup[data-device="iphone6"],
.device-mockup[data-device="iphone6"][data-orientation="portrait"] {
  padding-bottom: 207.19%;
}

.device-mockup[data-device="iphone6"][data-orientation="landscape"] {
  padding-bottom: 48.76%;
}

.device-mockup[data-device="iphone6"] > .device,
.device-mockup[data-device="iphone6"][data-color="black"] > .device,
.device-mockup[data-device="iphone6"][data-orientation="portrait"][data-color="black"] > .device {
  background-image: url("/src/img/devices/iphone_6/iphone_6_port_black.png");
}

.device-mockup[data-device="iphone6"][data-orientation="landscape"] > .device,
.device-mockup[data-device="iphone6"][data-orientation="landscape"][data-color="black"] > .device {
  background-image: url("/src/img/devices/iphone_6/iphone_6_land_black.png");
}

.device-mockup[data-device="iphone6"][data-color="white"] > .device,
.device-mockup[data-device="iphone6"][data-orientation="portrait"][data-color="white"] > .device {
  background-image: url("/src/img/devices/iphone_6/iphone_6_port_white.png");
}

.device-mockup[data-device="iphone6"][data-orientation="landscape"][data-color="white"] > .device {
  background-image: url("/src/img/devices/iphone_6/iphone_6_land_white.png");
}

.device-mockup[data-device="iphone6"][data-color="gold"] > .device,
.device-mockup[data-device="iphone6"][data-orientation="portrait"][data-color="gold"] > .device {
  background-image: url("/src/img/devices/iphone_6/iphone_6_port_gold.png");
}

.device-mockup[data-device="iphone6"][data-orientation="landscape"][data-color="gold"] > .device {
  background-image: url("/src/img/devices/iphone_6/iphone_6_land_gold.png");
}

.device-mockup[data-device="iphone6"] > .device > .screen,
.device-mockup[data-device="iphone6"][data-orientation="portrait"] > .device > .screen {
  top: 12.58%; bottom: 12.88%; left: 6.77%; right: 6.77%;
}

.device-mockup[data-device="iphone6"][data-orientation="landscape"] > .device > .screen {
  top: 6.77%; bottom: 6.77%; left: 12.58%; right: 12.88%;
}

.device-mockup[data-device="iphone6"] > .device > .button,
.device-mockup[data-device="iphone6"][data-orientation="portrait"] > .device > .button {
  display: block;
  top: 88.6%; bottom: 3.2%; left: 42%; right: 42%;
}

.device-mockup[data-device="iphone6"][data-orientation="landscape"] > .device > .button {
  display: block;
  top: 42%; bottom: 42%; left:  88.6%; right: 3.2%;
}

/* iPad Air 2 */
.device-mockup[data-device="ipad_air_2"],
.device-mockup[data-device="ipad_air_2"][data-orientation="portrait"] {
    padding-bottom: 141.38%;
}

.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"] {
  padding-bottom: 70.73%;
}

.device-mockup[data-device="ipad_air_2"] > .device,
.device-mockup[data-device="ipad_air_2"][data-color="grey"] > .device,
.device-mockup[data-device="ipad_air_2"][data-orientation="portrait"][data-color="grey"] > .device {
  background-image: url("/src/img/devices/ipad_air_2/ipad_air_2_gray_port.png");
}

.device-mockup[data-device="ipad_air_2"][data-color="silver"] > .device,
.device-mockup[data-device="ipad_air_2"][data-orientation="portrait"][data-color="silver"] > .device {
  background-image: url("/src/img/devices/ipad_air_2/ipad_air_2_silver_port.png");
}

.device-mockup[data-device="ipad_air_2"][data-color="gold"] > .device,
.device-mockup[data-device="ipad_air_2"][data-orientation="portrait"][data-color="gold"] > .device {
  background-image: url("/src/img/devices/ipad_air_2/ipad_air_2_gold_port.png");
}

.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"] > .device,
.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"][data-color="grey"] > .device {
  background-image: url("/src/img/devices/ipad_air_2/ipad_air_2_gray_land.png");
}

.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"][data-color="silver"] > .device {
  background-image: url("/src/img/devices/ipad_air_2/ipad_air_2_silver_land.png");
}

.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"][data-color="gold"] > .device {
  background-image: url("/src/img/devices/ipad_air_2/ipad_air_2_gold_land.png");
}

.device-mockup[data-device="ipad_air_2"] > .device > .screen,
.device-mockup[data-device="ipad_air_2"][data-orientation="portrait"] > .device > .screen {
  top: 9.025723%; bottom: 8.854341%; left: 6.15995%; right: 6.15995%;
}

.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"] > .device > .screen {
    top: 6.277551%; bottom: 6.277551%; left: 8.545988%; right: 8.545988%;
}

.device-mockup[data-device="ipad_air_2"] > .device > .button,
.device-mockup[data-device="ipad_air_2"][data-orientation="portrait"] > .device > .button {
  display: block;
    top: 93.2%; bottom: 2.1%; left: 46.3%; right: 46.5%;
}

.device-mockup[data-device="ipad_air_2"][data-orientation="landscape"] > .device > .button {
  display: block;
  top: 46.5%; bottom: 46.8%; left: 93.5%; right: 1.9%;
}


/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: normal;
  font-weight: 400;
}

html {
  font-size: 115.5%;
}

@media(min-width: 600px) {
  html {
    font-size: 137.5%;
  }
}

.case-study li a,
.resume-link,
.previous, .next,
.main-nav a,
.links a,
ul.tags li,
h1, h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  line-height: 1.4em;
}

.resume-link {
  color: inherit;
  /*margin-top: 0.5em;*/
  margin-right: 1em;
  display: inline-block;
  /*margin-bottom: 1em;*/
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 1.25em;
}
h3 {
  margin-bottom: 1.5em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.div-p,
p {
  margin-top:0.75em;
}

.div-p {
  line-height: 1.5rem;
  margin-bottom: 0;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.hide-overflow {
  overflow: hidden;
}

#outline-button {
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 1000;
  width: 100px;
}

.outlines * {
  outline: 1px solid red;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */
.container > div {
  position: relative;
  width: 100%;
}
.container > div > div {
  position: absolute;
  width: 100%;
  padding-top: 59.094px;
}
@media(min-width: 600px) {
.container > div > div {
  padding-top: 70.781px;
  }
}

.container > div > div.single-project {
  padding-top: 0;
}

@media(min-width: 600px) {
  .container > div > div.single-project {
    padding-top: 0;
  }
}

.block-container {
  padding:0em 1em;
  background-color:white;
}

.about .block-container {
  padding:1em 1em;
}

.about h2 {
  margin-bottom: 0.6em;
}

/* ================================= 
  MENU & HEADER STYLES
==================================== */
header {
  position: fixed;
  z-index: 10;
  top:0;
  width:100%;
  -webkit-transform: translate3d(0,0,1000px);
  -moz-transform: translate3d(0,0,1000px);
  -o-transform: translate3d(0,0,1000px);
  transform: translate3d(0,0,1000px);
}
header .main-nav {
    float: right;
  }

#main-nav-btn {
  z-index:auto;
  display:none;
  position: static;
}

.main-nav li {
  float: left;
}  

.main-nav a {
  font-size: .95em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  margin-bottom: 0;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s;
}

.single .main-nav a,
.home .main-nav a,
.about .main-nav a {
  color: white;  
}

.home .main-nav a:hover,
.about .main-nav a:hover,
.main-nav a:hover,
.main-nav .active {
  color: red;
}


/* IMAGES -------- */
.course-img {
  width: 70px;
}
.project-img {
  width: 100%;
}
.not-found {
  text-align: center;
}

.single-project img {
  width: 100%;
}

/* ABOUT PAGE */
.c-davis-bg {
  background-color:#ada798;
  background-position: 50% 0%;
  background-size: auto 100vh;
  background-repeat:no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: fixed;
  bottom:0;
  top:0;
  z-index: -1;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

/* SVG ANIMATION */
svg#page-animation {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  pointer-events:none;
}
svg#page-animation path.path01 {
  fill: #cdd;
}
svg#page-animation path.path02 {
  fill: #abb;
}


/* CSS ANIMATION */
.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  -webkit-transition: opacity 1s step-end;
  -moz-transition: opacity 1s step-end;
  -o-transition: opacity 1s step-end;
  transition: opacity 1s step-end;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  -webkit-transition: opacity 1s step-end;
  -moz-transition: opacity 1s step-end;
  -o-transition: opacity 1s step-end;
  transition: opacity 1s step-end;
}

/* PROJECT DEVICE ANIMATIONS */
.project-enter {
  opacity: 0;
  -webkit-transform:translateX(100%);
  -moz-transform:translateX(100%);
  -o-transform:translateX(100%);
  transform:translateX(100%);
}

.project-enter.project-enter-active {
  opacity: 1;
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  -o-transform:translateX(0);
  transform:translateX(0);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.project-leave {
  opacity: 1;
}

.project-leave.project-leave-active {
  opacity: 0;
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  -o-transform:translateX(-100%);
  transform:translateX(-100%);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}


/* PROJECT LIST */
.bg-img {
  padding-bottom:59.25%;
  height: 0;
  background-position: 50% 50%;
  background-size:cover;

  -webkit-transform-origin:center center;
  transform-origin:center center;
}

.scale-bg {
  -webkit-transform:scale(1);
  transform:scale(1);

  -webkit-transition:all 5000ms;
  transition:all 5000ms;
}

/* PROJECTS PAGE */
/*
.ready ul.group li:hover .scale-bg {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}
*/

ul.group li,
ul.group li a {
  display: block;
  position: relative;
}

ul.group li {
  position: relative;
  overflow: hidden;
}

ul.group li a {
  position: absolute;
  top:0; left:0; bottom: 0; right: 0;
  margin: auto;
  width: 100%;
  height:100%;
  z-index: 2;
}

ul.group li a h3 {
  color:white;
  position: absolute;
  top:50%; left:50%;
  width: 95%;
  margin:auto;

  -webkit-transform:translate3d(-50%, -50%, 0);
  -moz-transform:translate3d(-50%, -50%, 0);
  -o-transform:translate3d(-50%, -50%, 0);
  transform:translate3d(-50%, -50%, 0);  

  -webkit-transition:all 200ms;
  transition:all 200ms;
}

/*.about-marquee h1*/
.about-marquee,
ul.group li a h3 {
  text-align: center;
  line-height: 1.15em;
  font-size: 2.1em;
  font-size: 10.8vw;
}

@media(min-width: 600px) {
  .about-marquee h1,
  ul.group li a h3 {
    font-size: 5.4vw;
  }
}

@media(min-width: 1200px) {
  .about-marquee h1,
  ul.group li a h3 {
    font-size: 2.7vw;
  }
}

.about-marquee h1 {
  font-size: 0.9em;
  line-height: 1.1em;
}
.about-marquee h2 {
  font-size: 0.4em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
  margin-top:0.1em;
}

ul.group li a:hover h3 {
  color:red;
}

ul.group li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: auto;
  background: rgba(0,0,0,0.25);
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: none;

  -webkit-transition:background 600ms;
  transition:background 600ms;
}

ul.group li:hover:before {
  background:rgba(0,0,0,0);
}

ul.group li {
  display: block;
  width: 100%;
}

@media(min-width: 600px) {
  ul.group li {
    float: left;
    width: 50%;
  }
}

@media(min-width: 1200px) {
  ul.group li {
    width: 33.3333333%;
  }
}

/* MARQUEE */
.marquee-nav {
  position: relative;
}

.marquee {
  /*padding-bottom:59.25%;*/
  width:100%;
  position: relative;
  background-size: cover;
  background-position:50% 50%;
  background-repeat:no-repeat;

  padding-bottom: 88.5%;
}


.marquee:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: auto;
  background: rgba(0,0,0,0.25);
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: none;
}

.marquee-nav h1 {
  color:white;
  text-align: center;
  line-height: 1.15em;

  position: absolute;
  top:50%; left:50%;
  /*width: 95%;*/
  width: 84%;
  margin:auto;
  z-index: 1;

  -webkit-transform:translate3d(-50%, -50%, 0);
  -moz-transform:translate3d(-50%, -50%, 0);
  -o-transform:translate3d(-50%, -50%, 0);
  transform:translate3d(-50%, -50%, 0);  

  font-size: 9vw; 
}

.next,
.previous {
    position: absolute;
    z-index: 2;
    color: white;
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.025em;
    padding-bottom: 88.5%;
    top: 0;
    height: 0;
    width: 8%;

    transition:color 180ms;
    -webkit-transition:color 180ms;
}

.next:hover,
.previous:hover {
  color:red;
}

.next {
  right:0;
}

.previous {
  left:0;
}

.previous:after,
.next:after {
  display: block;
  position: absolute;
  top:0; bottom:0; 
  left:0; right:0;
  margin:auto;
  height: 1ex;
  width: 1ex;
  line-height: 1ex;
  font-size: 9vw;
  text-align: center;
  cursor: pointer;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transition:all 180ms;
  -moz-transition:all 180ms;
  -o-transition:all 180ms;
  transition:all 180ms;
}

.previous:after {
  border-width: 0.44em 0.68em 0.44em 0;
  border-color: transparent #ffffff transparent transparent;
}

.next:after {
  border-width: 0.44em 0 0.44em 0.68em;
  border-color: transparent transparent transparent #ffffff;
}


.previous.active:after,
.previous:active:after,
.previous:hover:after{
  border-color:transparent red transparent transparent;
}

.next.active:after,
.next:active:after,
.next:hover:after {
  border-color:transparent transparent transparent red;

}

@media(min-width: 600px) {
  .next,
  .previous,
  .marquee {
    padding-bottom:59.25%;
  }
}

@media(min-width:1264px) {
  .next,
  .previous,
  .marquee {
    /*padding-bottom: 508px;*/
    padding-bottom: 740px;
  }
  .marquee h1 {
    font-size: 110px;
  }
}


/* DEVICES */
.device-container {
  position: relative;
}

.tri-device-container {
  position: relative;
  max-width: 1300px;
  margin: 5% auto 15%;
}

@media(min-width: 600px) {
  .tri-device-container {
    margin: 2.5% auto 12%; 
  }
}

@media(min-width: 1000px) {
  .tri-device-container {
    margin:1% auto 10%; 
  }
}

.tri-device-container .ipad,
.tri-device-container .iphone {
  position: absolute;
  margin:auto;
}
.tri-device-container .iphone {
  width: 18%;
  max-width: 380px;
  bottom: -11%;
  left: 5%;
}
.tri-device-container .ipad {
    width: 30%;
    bottom: -11%;
    right: 5%;
}

.macbookcontainer {
    width:100%;
    max-width:1300px;
}

.screen {
  background:black;
}

.gm .screen {
  background:white;
}

.bio {
  margin-bottom: 1em;
}

ul.tags li {
  font-size: 0.85em;
  display:inline-block;
  list-style-type:disc;
  padding:0 0.5em;
  line-height: 1.6em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background: rgba(0,0,0, 1);
  color:white;
}


.image { 
  opacity: 0; 
  -webkit-transition: opacity 0.3s; 
  transition: opacity 0.3s;
}
.image.image-loaded { 
  opacity: 1; 
}

.roles {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin:0 auto 0;
  padding:1em 0 0;
}

.roles li {
  line-height: 1.2em;
  margin-bottom: 0.3em;
}


/* ABOUT PAGE UPDATES */
.table-full {
  display: table;
}

.table-full > div {
  display: table-cell;
  vertical-align: middle;
}

.main-content.about {
  background-color:rgba(0,0,0,0.25);
}

.about-container h1,
.about-container .h1 {
  line-height: 1em;
}

.about-marquee {
  color:white;
  height: 100vh;
  width: 100%;
}

.about-marquee:first-of-type {
  margin-bottom: 50vh;
}

.about-marquee:first-of-type > .outer > .inner {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media(min-width: 600px) {
  .about-marquee:first-of-type > .outer > .inner {
    margin-top: 71px;
    margin-bottom: 71px;
  }
}

.about-marquee h1,
.about-marquee h2 {
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

.about-marquee h2 {
  max-width: 19em;
}

#dogs-logo {
  width: 50%;
  max-width: 500px;
  margin-left:auto;
  margin-right: auto;
  display: block;
}
#dogs-logo path {
  fill:#ffffff;
}


/* ART */
ul.arts-list li img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.single-art,
.single-project .inner {
  position: absolute;
  width: 100%;
}

.art-project {
  min-height: 100vh;
  background-color: #000000;
}

.single-art {
  top:50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
}

ul.group li a h3.art-heading {
  color: transparent;
}

#loading-container {
  opacity: 1; 
  -webkit-transition: opacity 1900ms;
  transition: opacity 1900ms;
}
#loading-container.hide {
  opacity: 0;
}

.unloaded {
  background-color: black;
 -webkit-transition: background-color 500ms;
  transition: background-color 500ms; 
}

.main-content > h1 {
  line-height: 1em;
  margin-bottom:0.2em;
  padding-left:0.1em;
  font-size: 19vw;
}

@media(min-width: 475px) {
  .main-content > h1 {
    font-size: 90px;
  }
}

.single-project .inner {
    background-image: -webkit-radial-gradient(center center, circle cover, #ffffff, #cfcfcf 100%);
    background-image:    -moz-radial-gradient(center center, circle cover, #ffffff, #cfcfcf 100%);
    background-image:     -ms-radial-gradient(center center, circle cover, #ffffff, #cfcfcf 100%);
    background-image:      -o-radial-gradient(center center, circle cover, #ffffff, #cfcfcf 100%);
    background-image:         radial-gradient(center center, circle cover, #ffffff, #cfcfcf 100%);
}


.art-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  margin:0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.art-project .previous,
.art-project .next {
  padding-bottom: 100vh;
}

div#about-bio > * {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.case-study {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    /*width: 100%;*/
    z-index: 5;
    margin:auto;
}

.case-study li {
  display: inline-block;
  width: 50%;
  margin: auto;
  padding:0;
  text-align: center;
}

.case-study li:only-child {
  display: block;
}

.case-study li a {
  color: white;
  padding: 0.75em 0;
  font-size: 0.7em;
  display: block;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.case-study li a:hover,
.case-study li a:active,
.case-study li a.active {
  color:red;
}

@media(min-width: 400px) {
  .case-study li a {
    font-size: 0.9em;
  }
}

@media(min-width: 600px) {
  .case-study {
    max-width: 84%;
  }
  .case-study li a {
    font-size: 1em;
  }
}

@media(min-width: 768px) {
  .case-study {
    max-width: 768px;
  }
}

.about-bg {
  display: block;
  height: 0;
  padding-bottom: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-top: 0.75em;*/
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.about-p > div:last-of-type {
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .about-p > div {
    display: table;
    width: 100%;
  }

  .about-p > div * {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  
  .about-p > div:nth-of-type(2) > span {
    padding-left: 0.5em;
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);

  }
  .about-p > div:nth-of-type(2) > .about-bg {
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    transform:translateX(-100%);
  }

  .about-bg {
    margin-top: 0;
  }

  .about-p > div:nth-child(1) > span {
    padding-bottom:0.5em;
    padding-right: 0.5em;
  }
  
  .about-p > div:nth-child(2) > span {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
  .about-p > div:nth-child(3) > span {
    padding-top: 0.5em;
    padding-right: 0.5em;
  }

}

.c-art {
  background-position: 50% 100%;
}

.content {
  max-width: 50rem;
  margin-left:auto;
  margin-right:auto;
}
.links {
  margin-top: 0.25em;
}
.links a {
  color: inherit;
  text-transform: none;
  font-size: 1rem;
  display: block;
  line-height: 1.6em;
  text-align: center;
}
.links a,
.resume-link {
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s;
}

.links a:hover,
.links a:active,
.resume-link:hover,
.resume-link:active {
  color:red;
}

.links h2,
.links h3 {
  margin: 0 auto;
}
/*.links h3 {
  text-transform: none;
}*/